@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Xin chào docker</h1>
    <p>Tôi tên là @Model.HoTen</p>
    <p>@Model.MSSV</p>
</div>